<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <contex:component-scan base-package="com.spring"></contex:component-scan>

    <contex:annotation-config></contex:annotation-config>

    <bean id="database" class="com.spring.component.model.Database">
        <property name="url" value="localhost:8080"/>
        <property name="username" value="sevinc2"/>
        <property name="password" value="12345"/>

    </bean>
</beans>